.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  // ❗️❗️❗️ The path to images from a SASS file
  // is always the same as from the css folder.
  background-image: url('../images/logo.png');
  background-size: cover;
  background-position: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 40px;
  margin: 0 auto;
  box-shadow: 0 10px 10px 0 #cccccc;
}

.contact-form-input {
  height: 40px;
  padding-left: 15px;
  border: 1px solid #303030;
  margin-bottom: 20px;
}

.contact-form-message {
  height: 120px;
  padding: 15px;
  border: 1px solid #303030;
  margin-bottom: 20px;
  resize: none;
}

.contact-form-submit {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #303030;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  transition: transform 250ms linear;
}

.contact-form-submit:hover,
.contact-form-submit:focus {
  transform: scale(1.05);
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
