body {
  background-color: rgb(43, 40, 61);
}

.output-timer {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.output-timer input {
  font-size: 20px;
  text-align: center;
}
.timer {
  display: flex;
  gap: 20px;
  margin-top: 10vh;
  padding: 20px;
  justify-content: center;
}
.value {
  color: #ffffff;
  font-size: 11vw;
  line-height: 1;
  font-weight: 600;
}
.label {
  color: rgb(135, 131, 148);
  font-size: 2.5vw;
  text-transform: uppercase;
  font-weight: 700;
}
canvas {
  position: absolute;
}
.form {
  display: flex;
  gap: 20px;
  text-align: center;
}

.form input {
  display: block;
  margin-bottom: 10px;
  /* display: flex;
  flex-direction: column; */
}

.field {
  position: relative;

  border: solid 3px rgb(100, 97, 114);
  border-radius: 50% 50%;
  width: 20vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: border-box radial-gradient(crimson, black); */
  /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
  /* clip-path: circle(105px at 107px 100px); */
  /* clip-path: margin-box circle(200px); */
}
